<!DOCTYPE html>
<html ng-app="moveinsync">

<head>
    <meta charset="utf-8" />
    <title>MoveinSync Admin Panel</title>

    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" type="" href="./bootstrap-3.3.6-dist/css/bootstrap.min.css">

    <script src="./angular.min.js"></script>
    <script src="./jquery.min.js"></script>
    <script src="./bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <script src="app.js"></script>


</head>

<body ng-controller="MainCtrl" id="testApp" ng-cloak>
    <div class="myalert"></div>
    <div class="main container-fluid" style="padding: 0;">
        <div class="container-fluid" style="padding: 0;">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header" style=" margin-left: 8px;">

                        <span class="navbar-brand" ng-cloak>Available Vehicles ({{vehicleDetails.length}})</span>
                        <input type="text" ng-model="searchVhcl" placeholder="Search By Available Seat" style="margin-top: 12px;width: 210px;border-radius:4px;">
                    </div>
                    <div class="navbar-header" style=" margin-left: 239px;">

                        <a class="navbar-brand" href="#">Vehicles Details</a>
                    </div>
                    <div class="navbar-header" style=" float:right; margin-right: 98px;">

                        <a class="navbar-brand" href="#" ng-cloak>Available Users ({{userDetails.length}})</a>
                    </div>

                </div>
            </nav>
        </div>
        <div class="container-fluid" style="height: calc(100vh - 52px);padding: 0;">
            <div class="col-md-4 left pane">

                <div ng-repeat="vhcl in vehicleDetails | orderBy :'status' |filter:{AvlblSeat:searchVhcl} " ng-click="vhclDetails(vhcl)" ng-class="{well:vhcl.status==1,yellow:vhcl.status==0,pointer:vhcl.dsbld,selected:vhcl.DriverName == selectedvehicle.DriverName}">

                    <div class="col-md-12">
                        <div class="col-md-4">
                            <img src="./images/car.png" alt="" style="height: 60px;border-radius: 2px;">
                        </div>
                        <div class="col-md-offset-1 col-md-7">
                            <div class="col-md-12" style=" padding-left: 0;">

                                <span ng-cloak><b>Available Seat :</b> {{vhcl.AvlblSeat}} </span><br>
                                <span ng-cloak><b>Total Seat :</b> {{vhcl.TotalSeat}} </span>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4" style="text-align:center">
                            <span><a href="#" ng-cloak> {{vhcl.name}}-{{vhcl.modelYear}}</a> </span><br>
                            <span ng-cloak>({{vhcl.Type}})</span>
                        </div>

                    </div>
                    <div class="clearfix"></div>

                </div>
                <div ng-if="(vehicleDetails | filter:{AvlblSeat:searchVhcl}).length <= 0" style="height: 44px; text-align: center; margin-top: 40%; padding-top: 8px; background-color: white;">
                    <span style="font-size: 21px;">No Records Found</span>
                </div>
            </div>
            <div class="col-md-5 middle ">

                <div>

                    <div class="alert alert-danger" ng-show="breakdown" style="margin-top: 11px;">
                        <strong>Info!</strong> Break Down
                        <button Style="float:right" class="btn-secondary btn-warning btn-sm" ng-click="moveUser();" ng-disabled="usrbtn">Move Users</button>
                    </div>
                    <div id="myProgress" style="margin-top: 13px;">
                        <div id="myBar" style="width:{{width}}">

                        </div>
                        <div id="label" ng-cloak>{{selectedvehicle.AvlblSeat}} Seat Available</div>
                    </div>
                    <div class="col-md-12" style="margin-top: 13px;">


                        <div class="col-md-5  wel">
                            <h4 class="header"><strong>Driver Details</strong></h4>

                            <span ng-cloak><b>Name</b> : {{selectedvehicle.DriverName}}</span><br>
                            <span ng-cloak><b>Mobile <span class="glyphicon glyphicon-phone"></span></b>:{{selectedvehicle.CnNo}} </span> <br>
                            <span ng-cloak><b>LicenseId  </b>:{{selectedvehicle.id}} </span>
                        </div>

                        <div class="col-md-5 wel col-md-offset-1">
                            <h4 class="header"><strong>Vehicle Details</strong></h4>
                            <span ng-cloak><b>Available Seat :</b> {{selectedvehicle.AvlblSeat}} </span><br>
                            <span ng-cloak><b>Total Seat :</b> {{selectedvehicle.TotalSeat}} </span><br>
                            <span ng-cloak><b>Vehicle Number</b> - {{selectedvehicle.Vno}} </span>
                        </div>
                        <div class="col-md-2">

                        </div>
                    </div>
                    <div class="col-md-5" style="left:60px" ng-hide="breakdown">
                        <!-- <textarea style="border-radius:1px;width: 305px;height: 100px;" placeholder="Drop Here" id="dropusr"></textarea> -->
                        <div id="div1" ondrop="angular.element(document.getElementById('div1')).scope().drop(event)" ondragover="angular.element(document.getElementById('testApp')).scope().allowDrop(event)">
                            Drop Users Here .
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-3 right pane">
                <div ng-repeat="user in userDetails">
                    <div class="well" id="{{user}}" draggable="true" ondragstart="angular.element(document.getElementById('testApp')).scope().drag(event)">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <img ng-src="{{user.image}}" alt="" style="height: 50px;width:50px;border-radius: 2px;">
                            </div>
                            <div class="col-md-7">
                                <span ng-cloak>{{user.location}}</span>
                                <span class="glyphicon glyphicon-phone"></span> <span ng-cloak>{{user.contactNo}}</span>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <span style="margin-left:15px;text-align: center; width: 52px; display: inline-block;" ng-cloak><b>{{user.name | capitalize}}</b></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <div ng-if="userDetails.length==0"><span> No More Users </span></div>
            </div>
        </div>
    </div>
</body>

</html>